* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root {
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}