.black {
    background-color: black;
    
}

.blue {
    background-color: blue;
}

.my-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid red;
    border-radius: 1rem;
    background-color: rgb(227, 231, 209);
}

.my-form-control {
    margin: 0.5rem;
    min-height: 30px;
    border-radius: 0.5rem;
    padding: 2px;
}

.my-form-control:focus {
    background-color: rgb(210, 211, 209);
} 

.my-form-control:hover {
    border: 2px solid blue;

} 

.btn-submit{
    width: 30%;
    background-color: blue;
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
}

#username-err {
    color: red;
    font-size: 1rem;
    margin: 0px 0px 16px 8px ;
    padding-left: 2px;
    display: none;

}