* {
  padding: 0;
  margin: 0;
}
.body {
  background: url("../assets/bg.jpg");
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scoreBox {
  position: absolute;
  top: 50px;
  left: 50%;
  font-size: 39px;
  font-weight: bold;
  opacity: 0.3;
}
#highScoreBox {
  position: absolute;
  top: 100px;
  left: 50%;
  font-size: 39px;
  font-weight: bold;
  opacity: 0.3;
}
#board {
  background: linear-gradient(rgb(7, 173, 137), rgb(240, 240, 161));
  width: 90vmin;
  height: 90vmin;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}
.head {
  background: linear-gradient(red, yellow);
  border: 2px solid purple;
  transform: scale(1.02);
  border-radius: 10px;
}
.snake {
  background-color: purple;
  border: 0.25vmin solid white;
  border-radius: 12px;
}
.food {
  background: linear-gradient(red, purple);
  border: 0.25vmin solid black;
  border-radius: 8px;
}
