* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: montserrat;
}
section{
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    height: calc(100vh - 80px);
}
.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}
nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
    ul {
        float: right;
        margin-right: 20px;
        li {
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
            a {
                color: white;
                font-size: 17px;
                text-transform: uppercase;
                padding: 7px 13px;
                border-radius: 3px;
            }
        }
    }
}
a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 900px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    } 
}
@media (max-width: 650px){
    label.logo {
        font-size: 22px;
        padding: 0 15px;
    }
}
@media (max-width: 450px){
    label.logo {
        font-size: 19px;
        padding: 0 10px;
    }
}
@media (max-width: 300px){
    label.logo {
        display: none;
    }
}